---
- name: Deploy MyALPR
  hosts: ceto
  become: yes

  vars_files:
    - ../../secrets.yml

  roles:
    - role: docker_service
      vars:
        service_name: myalpr
        compose_template: myalpr-compose.yml.j2
        docker_compose_state: present
