---
- name: Deploy Vikunja
  hosts: europa
  become: yes

  vars_files:
    - ../../secrets.yml

  pre_tasks:
    - name: Create Vikunja files directory with correct ownership
      ansible.builtin.file:
        path: /opt/vikunja/files
        state: directory
        owner: "1000"
        group: "1000"

  roles:
    - role: docker_service
      vars:
        service_name: vikunja
        compose_template: vikunja-compose.yml.j2
        service_directories:
          - db
        docker_compose_state: present
