---
- name: Deploy Caddy
  hosts: europa
  become: yes

  vars_files:
    - ../../secrets.yml

  pre_tasks:
    - name: Load proxy configurations from file
      include_vars:
        file: "{{ playbook_dir }}/../../config/services.yaml"
        name: services

  roles:
    - role: docker_service
      vars:
        service_name: caddy
        compose_template: caddy-compose.yml.j2
        config_files:
          - src: Dockerfile.caddy.j2
            dest: Dockerfile
          - src: caddy.j2
            dest: Caddyfile
        service_directories:
          - data
          - config
          - logs
        docker_compose_state: restarted
