---
- name: Deploy Myflix
  hosts: metis
  become: yes

  vars_files:
    - ../../secrets.yml

  roles:
    - role: docker_service
      vars:
        service_name: myflix
        compose_template: myflix-compose.yml.j2
        docker_compose_state: present
