---
- name: Deploy Vikunja
  hosts: daphne
  become: yes

  vars_files:
    - ../../secrets.yml

  roles:
    - role: docker_service
      vars:
        service_name: vikunja
        compose_template: vikunja-compose.yml.j2
        service_directories:
          - db
        docker_compose_state: restarted
