---
- name: Deploy Immich
  hosts: melinoe
  become: yes

  vars:
    immich_db_username: "immich"
    immich_db_database_name: "immich"
    immich_db_data_location: "/opt/immich/pgdata"

  vars_files:
    - ../../secrets/vault_vars.yml

  roles:
    - role: docker_service
      vars:
        service_name: immich
        compose_template: immich-compose.yml.j2
        service_directories:
          - pgdata
        docker_compose_state: present
