---
- name: Deploy Pi-hole
  hosts: europa
  become: true

  vars_files:
    - ../../secrets.yml

  pre_tasks:
    - name: Configure systemd-resolved upstream DNS servers
      ansible.builtin.lineinfile:
        path: /etc/systemd/resolved.conf
        regexp: "^#?DNS="
        line: "DNS=1.1.1.1 8.8.8.8"
      notify: Restart systemd-resolved

    - name: Disable systemd-resolved stub listener
      ansible.builtin.lineinfile:
        path: /etc/systemd/resolved.conf
        regexp: "^#?DNSStubListener="
        line: "DNSStubListener=no"
      notify: Restart systemd-resolved

    - name: Flush handlers to free port 53
      ansible.builtin.meta: flush_handlers

  roles:
    - role: docker_service
      vars:
        service_name: pihole
        compose_template: pihole.compose.yml.j2
        service_directories:
          - etc-pihole
          - etc-dnsmasq.d
        config_files:
          - src: pihole-custom-dns.conf.j2
            dest: etc-dnsmasq.d/05-fairgrounds.conf
        docker_compose_state: restarted

  post_tasks:
    - name: Disable all adlists
      ansible.builtin.command:
        cmd: docker exec pihole pihole-FTL sqlite3 /etc/pihole/gravity.db "UPDATE adlist SET enabled = 0"
      changed_when: true

  handlers:
    - name: Restart systemd-resolved
      ansible.builtin.systemd:
        name: systemd-resolved
        state: restarted
