    - name: Deploy Prometheus
      hosts: melinoe
      become: yes

      vars:
        test: test

      tasks:
        - name: Ensure docker-compose.yml
          ansible.builtin.template:
            src: templates/prometheus.yml.j2
            dest: /opt/prometheus/docker-compose.yml
            mode: '0644'

        - name: Ensure config.yml
          ansible.builtin.template:
            src: templates/prometheus.config.yml.j2
            dest: /opt/prometheus/config.yml
            mode: '0644'

        - name: Start Docker Compose application
          community.docker.docker_compose_v2:
            project_name: prometheus
            project_src: /opt/prometheus
            state: present
            pull: always