- name: Nudge Seedbox
  hosts: melinoe
  become: yes

  vars:
    myflix_mam_id: "LH9t4aP11PFdgAvJZte2VCB9hILu2o8ZkC0Ks97a1XV22t-GaDzMUIhAxJQXbbKYxAyYzK8ZY_6Pbn2qZKT9z_SLUci8ZxUq2ELlEX38gWwNiWozu2kiBSZvFl2rrTkWrrl6svqq1mlcnoOkYXa0CE4KX04W85IjEnOjyIAUy96y_HArZOrHKkhlt7bZvfUS2CDRbt8l73jiXvPXF7B1hwWvU3IQ0n_u89LzcoPIxpX-aG9DfrMTIocHogMBoNHYtWJe1nut6thgTZIu-x8a8dR6DzGZy9yKvVEo"

  vars_files:
    - ../../secrets.yml

  tasks:
    - name: Docker Compose down seedboxapi
      community.docker.docker_compose_v2:
        project_src: /opt/myflix
        services:
          - seedboxapi
        state: absent

    - name: Delete MAM.cookies file
      ansible.builtin.file:
        path: /opt/myflix/seedboxapi/MAM.cookies
        state: absent

    - name: Get public IP address via VPN container
      community.docker.docker_container_exec:
        container: vpn
        command: curl -s https://api.ipify.org?format=txt
      register: vpn_ip_result

    - name: Set vpn_ip variable
      set_fact:
        vpn_ip: "{{ vpn_ip_result.stdout }}"

    - name: Output public IP address from VPN
      debug:
        msg: "Public IP address via VPN is: {{ vpn_ip }}"

    - name: Deploy docker-compose.yml
      ansible.builtin.template:
        src: "{{ inventory_dir }}/templates/myflix-compose.yml.j2"
        dest: "/opt/myflix/docker-compose.yml"

    - name: Docker Compose up seedboxapi
      community.docker.docker_compose_v2:
        project_src: /opt/myflix
        services:
          - seedboxapi
        state: present
