---
# Creates the julian user account with sudo access and GitHub SSH key syncing
- name: Setup User Account
  hosts: vms
  become: yes

  vars_files:
    - ../../secrets.yml

  tasks:
    - name: Create julian user
      ansible.builtin.user:
        name: julian
        shell: /bin/bash
        groups: sudo
        append: yes
        create_home: yes
        state: present
        password: "{{ user_password | password_hash('sha512') }}"

    - name: Configure passwordless sudo for julian
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/julian
        line: 'julian ALL=(ALL) NOPASSWD:ALL'
        create: yes
        mode: '0440'
        validate: 'visudo -cf %s'

    - name: Ensure .ssh directory exists for julian
      ansible.builtin.file:
        path: /home/julian/.ssh
        state: directory
        owner: julian
        group: julian
        mode: '0700'

    - name: Install a cron job to pull GitHub keys for julian
      ansible.builtin.cron:
        name: "Pull Github Keys"
        minute: "*"
        job: "curl https://github.com/julianh2o.keys > ~/.ssh/authorized_keys && chmod 600 ~/.ssh/authorized_keys"
        user: julian
        state: present
