---
# This playbook creates the ansible service account on all hosts
# Run with: ansible-playbook -i inventory.yaml playbooks/setup_ansible_user.yaml -u julian -K
# The -u julian flag overrides the default remote_user (ansible) to connect as your personal user
# The -K flag prompts for sudo password
- name: Setup Ansible Service Account
  hosts: linuxhosts
  become: yes

  vars:
    ansible_user_name: ansible
    # Path to the SSH public key to authorize for the ansible user
    ansible_ssh_key: "../secrets/id_ed25519.pub"

  tasks:
    - name: Create ansible user
      ansible.builtin.user:
        name: "{{ ansible_user_name }}"
        state: present
        shell: /bin/bash
        create_home: yes
        comment: "Ansible Automation User"
        password: "!"  # Locked password (SSH key auth only)

    - name: Add ansible user to docker group
      ansible.builtin.user:
        name: "{{ ansible_user_name }}"
        groups: docker
        append: yes

    - name: Create .ssh directory for ansible user
      ansible.builtin.file:
        path: /home/{{ ansible_user_name }}/.ssh
        state: directory
        owner: "{{ ansible_user_name }}"
        group: "{{ ansible_user_name }}"
        mode: "0700"

    - name: Copy SSH public key to ansible user's authorized_keys
      ansible.builtin.copy:
        src: "{{ ansible_ssh_key }}"
        dest: /home/{{ ansible_user_name }}/.ssh/authorized_keys
        owner: "{{ ansible_user_name }}"
        group: "{{ ansible_user_name }}"
        mode: "0600"

    - name: Configure passwordless sudo for ansible user
      ansible.builtin.copy:
        content: |
          # Ansible automation user - passwordless sudo
          {{ ansible_user_name }} ALL=(ALL) NOPASSWD: ALL
        dest: /etc/sudoers.d/{{ ansible_user_name }}
        owner: root
        group: root
        mode: "0440"
        validate: /usr/sbin/visudo -cf %s

    - name: Ensure ansible account is unlocked (allow passwordless SSH key auth)
      ansible.builtin.command: passwd -d {{ ansible_user_name }}
      changed_when: true

    - name: Verify ansible user can run docker commands
      ansible.builtin.command: groups {{ ansible_user_name }}
      register: ansible_user_groups
      changed_when: false

    - name: Display ansible user groups
      ansible.builtin.debug:
        msg: "Ansible user groups: {{ ansible_user_groups.stdout }}"
