---
- name: Install QEMU Guest Agent
  hosts: vms
  become: yes

  tasks:
    - name: Install qemu-guest-agent package
      ansible.builtin.apt:
        name: qemu-guest-agent
        state: present
        update_cache: yes

    - name: Ensure qemu-guest-agent is started and enabled
      ansible.builtin.service:
        name: qemu-guest-agent
        state: started
        enabled: yes

- name: Setup Docker
  ansible.builtin.import_playbook: setup_docker.yaml

- name: Install Node Exporter
  hosts: vms
  become: yes
  roles:
    - role: geerlingguy.node_exporter

- name: Setup User Account
  hosts: vms
  become: yes

  tasks:
    - name: Create julian user
      ansible.builtin.user:
        name: julian
        shell: /bin/bash
        groups: sudo
        append: yes
        create_home: yes
        state: present

    - name: Configure passwordless sudo for julian
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/julian
        line: 'julian ALL=(ALL) NOPASSWD:ALL'
        create: yes
        mode: '0440'
        validate: 'visudo -cf %s'

    - name: Ensure .ssh directory exists for julian
      ansible.builtin.file:
        path: /home/julian/.ssh
        state: directory
        owner: julian
        group: julian
        mode: '0700'

    - name: Install a cron job to pull GitHub keys for julian
      ansible.builtin.cron:
        name: "Pull Github Keys"
        minute: "*"
        job: "curl https://github.com/julianh2o.keys > ~/.ssh/authorized_keys && chmod 600 ~/.ssh/authorized_keys"
        user: julian
        state: present

  handlers:
    - name: Restart SSH
      ansible.builtin.service:
        name: ssh
        state: restarted

- name: Setup fstab
  ansible.builtin.import_playbook: setup_fstab.yaml
