---
# Installs essential tools: QEMU Guest Agent, Docker, and Node Exporter
- name: Install QEMU Guest Agent
  hosts: vms
  become: yes

  tasks:
    - name: Install qemu-guest-agent package
      ansible.builtin.apt:
        name: qemu-guest-agent
        state: present
        update_cache: yes

    - name: Ensure qemu-guest-agent is started and enabled
      ansible.builtin.service:
        name: qemu-guest-agent
        state: started
        enabled: yes

- name: Setup Docker
  ansible.builtin.import_playbook: docker.yaml

- name: Install Node Exporter
  hosts: vms
  become: yes
  roles:
    - role: geerlingguy.node_exporter
