services:
  caddy:
    image: ghcr.io/caddybuilds/caddy-cloudflare:latest
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    restart: always
    environment:
      - CLOUDFLARE_API_TOKEN={{ cloudflare_api_token }}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./data:/data
      - ./config:/config
      - ./logs:/logs
