{
  "ipv4_enabled": true,
  "ipv6_enabled": false,
  "ttl": 900,
  "zones": [
    {
      "id": "91db6f284acaf1c4959165e12734b60b",
      "name": "bawdyshop.space",
      "update_root_domain": false,
      "subdomains": ["*"]
    },
    {
      "id": "faf4be82295f4612b7174fdfdc9060ab",
      "name": "julianhartline.com",
      "update_root_domain": false,
      "subdomains": ["books", "files", "photos", "plex"]
    }
  ]
}
