[global]
# Store database and thumbnails in config directory
hist: /cfg/hists/
shr: /share
xff-src: lan
rproxy: -1

[accounts]
julian: {{ user_password }}
openclaw: {{ openclaw_copyparty_password }}

[/]
# Root volume - expose /data directory
/data

accs:
  rwda: julian,openclaw

[/public]
# Public folder accessible without login
/data/public
accs:
  r: 
  rw: @acct
