services:
  myalpr:
    image: julianh2o/myalpr:latest
    build: .
    container_name: myalpr
    restart: unless-stopped

    network_mode: host

    volumes:
      - /mnt/Store/Miscellaneous/myalprframes:/app/frames

    environment:
      # Camera Streams (RTSP/RTSPS URLs)
      - CAM_DRIVEWAY_HIGH=rtsps://192.168.0.1:7441/dj6fqZEn2aY6UDRd?enableSrtp
      - KNOWN_PLATES=79699J4

      # Ollama Vision Model
      - OLLAMA_URL=http://192.168.0.66:11434/api/chat
      - OLLAMA_VISION_MODEL=llama3.2-vision

      - MQTT_BROKER=192.168.0.110
      - MQTT_PORT=1883
      - MQTT_USER=julian
      - MQTT_PASSWORD={{ homeassistant_mqtt_password }}