services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data
  db:
    image: docker.io/library/postgres:18
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql
    environment:
      POSTGRES_DB: {{ paperless_db_name | default('paperless') }}
      POSTGRES_USER: {{ paperless_db_user | default('paperless') }}
      POSTGRES_PASSWORD: {{ paperless_db_password | default('paperless') }}

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless
    restart: unless-stopped
    depends_on:
      - db
      - broker
    ports:
      - "8000:8000"
    volumes:
      - /mnt/Store/services/paperless/data:/usr/src/paperless/data
      - /mnt/Store/services/paperless/media:/usr/src/paperless/media
      - /mnt/Store/services/paperless/export:/usr/src/paperless/export
      - /mnt/Store/services/paperless/consume:/usr/src/paperless/consume
    environment:
      USERMAP_UID: 0
      USERMAP_GID: 0
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
      PAPERLESS_OCR_USER_ARGS={"invalidate_digital_signatures": true}
      PAPERLESS_DBNAME: {{ paperless_db_name | default('paperless') }}
      PAPERLESS_DBUSER: {{ paperless_db_user | default('paperless') }}
      PAPERLESS_DBPASS: {{ paperless_db_password | default('paperless') }}
      PAPERLESS_URL: https://paperless.julianverse.net

  paperless-ai:
    image: clusterzx/paperless-ai
    container_name: paperless-ai
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - paperless-ai_data:/app/data

volumes:
  pgdata:
  redisdata:
  paperless-ai_data:
