services:
  partyfoal:
    image: julianh2o/partyfoal:latest
    container_name: partyfoal-prod
    ports:
      - "2051:3000"
    environment:
      - RESEND_API_KEY={{ resend_api_key }}
      - NODE_ENV=production
    volumes:
      - ./data:/app/data
    restart: unless-stopped
