# Fairgrounds internal DNS (.fg)
{% for host in groups['vms'] %}
address=/{{ host }}.fg/{{ hostvars[host]['ansible_host'] }}
{% endfor %}
{% for host in groups['linuxhosts'] %}
address=/{{ host }}.fg/{{ hostvars[host]['ansible_host'] }}
{% endfor %}
{% for host in groups['truenasvms'] %}
address=/{{ host }}.fg/{{ hostvars[host]['ansible_host'] }}
{% endfor %}
{% for host in groups['otherhosts'] %}
address=/{{ host }}.fg/{{ hostvars[host]['ansible_host'] }}
{% endfor %}
