# Docker Compose for rreading-glasses using Hardcover

services:
  rreading-glasses:
    depends_on:
      rreading-glasses-db:
        condition: service_started
    image: blampe/rreading-glasses:hardcover
    pull_policy: always
    container_name: rreading-glasses
    hostname: rreading-glasses
    entrypoint: ["/main", "serve"]
    command:
      - --verbose
    restart: unless-stopped
    mem_limit: 128m
    environment:
      HARDCOVER_AUTH: {{ rreading_glasses_hardcover_auth }}
      POSTGRES_HOST: rreading-glasses-db
      POSTGRES_DATABASE: rreading-glasses
      POSTGRES_USER: rreading-glasses
      POSTGRES_PASSWORD: {{ rreading_glasses_db_password }}
    ports:
      - "8788:8788"

  rreading-glasses-db:
    image: postgres:17
    container_name: rreading-glasses-db
    hostname: rreading-glasses-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: rreading-glasses
      POSTGRES_PASSWORD: {{ rreading_glasses_db_password }}
      POSTGRES_DB: rreading-glasses
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
