services:
  vikunja:
    image: vikunja/vikunja
    container_name: vikunja
    restart: unless-stopped
    ports:
      - 3456:3456
    volumes:
      - vikunja-files:/app/vikunja/files
      - vikunja-db:/db
    environment:
      VIKUNJA_SERVICE_JWTSECRET: {{ vikunja_jwt_secret }}
      VIKUNJA_SERVICE_PUBLICURL: https://{{ vikunja_domain | default('vikunja.julianverse.net') }}/
      VIKUNJA_DATABASE_PATH: /db/vikunja.db

volumes:
  vikunja-files:
  vikunja-db:
