---
- name: Update Caddy Config and Restart Docker Container
  hosts: melinoe
  vars:
    services_file: "../config/services.yaml"
    caddy_template: "../templates/caddy.j2"

  tasks:
    - name: Load proxy configurations from file
      include_vars:
        file: "{{ services_file }}"
        name: services

    - name: Generate Caddy config from Jinja2 template
      template:
        src: "{{ caddy_template }}"
        dest: "/tmp/caddyfile"
        mode: "0644"

    # - name: Stop Docker container {{ docker_container_name }}
    #   docker_container:
    #     name: "{{ docker_container_name }}"
    #     state: stopped

    # - name: Start Docker container {{ docker_container_name }}
    #   docker_container:
    #     name: "{{ docker_container_name }}"
    #     state: started