- name: Deploy Grafana
  hosts: melinoe
  become: yes

  vars:
    test: test

  tasks:
    - name: Ensure directory
      ansible.builtin.file:
        path: /opt/grafana/
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Ensure data directory
      ansible.builtin.file:
        path: /opt/grafana/
        state: directory
        owner: root
        group: root
        mode: "0777"

    - name: Ensure docker-compose.yml
      ansible.builtin.template:
        src: templates/grafana-compose.yml.j2
        dest: /opt/grafana/docker-compose.yml
        mode: "0644"

    - name: Ensure config.yml
      ansible.builtin.template:
        src: templates/grafana.ini.j2
        dest: /opt/grafana/grafana.ini
        mode: "0644"

    - name: Start Docker Compose application
      community.docker.docker_compose_v2:
        project_name: grafana
        project_src: /opt/grafana
        state: present
        pull: always
